/* Adding color palette variables */
:root {
    --bgcbody: #white;
    --bgcheader: #240046;
    --button: #5a189a;
    --buttonhover: #fdc500;
    --answer: #ff8500;
    --answerhover: #ff9e00;
    --answerright: #347303;
    --answerwrong: #830303;
}

/* Adding body styling*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bgcbody);    
}

/* Adding h1 and h2 styling*/
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

/* Adding p & label  styling*/
p, label {
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 220px;
    margin-right: 220px;
} 

/* Adding input styling*/
input {
    font-size: 1.5rem;
}

/* Adding style to the header section using and id */
#headerStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: var(--bgcheader);
    padding: 20px;
}

/* Adding style to the header containers using a class */
.headerContents {
    display: flex;
    min-height: 50px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--button);
    align-items: center;
    text-align: center;
    color: white;;
}

/* Adding style to the header containers class when hovering */
.headerContents:hover {
    background-color: var(--buttonhover);
    color: black;
    cursor: pointer;
} 

/* Adding style to the a contents */
a {
    color: white;
    text-decoration: none;
}

/* Adding style to the a when hovering */
a:hover {
    color: black;
}


/* Adding style to the timer placeholder using an id */
#timer{
    font-size: 1.5rem;
}

/* Adding style to the main container using an id */

#wrapper {
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    min-height: 600px;
    padding: 30px;
    border: 7px solid var(--bgcheader);
    background-image: url("../images/quizbgc.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

/* Adding style to the quiz container using an id */
#quizQuestions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Adding style to the start quiz button using an id */
#startQuiz{
    font-size: 1.5rem;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--buttonhover);
}

/* Adding style to start quiz button when hovering */
#startQuiz:hover {
    background-color: var(--button);
    color: white;
    cursor: pointer;
}

/* Adding media queries */

/* Resized content to fit up to 1820  */
@media screen and (max-width: 1820px) {
    
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    
    h2 {
        font-size: 2rem;  
    }

    p, label {
        font-size: 1.5rem;
        margin-left: 220px;
        margin-right: 220px;
    } 


    #wrapper {

        margin-left: 220px;
        margin-right: 220px;
        min-height: 500px;
        padding: 5px;
        


    }
}

/* Resized content to fit up to 1440px  */
@media screen and (max-width: 1440px) {
    
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    h2 {
        font-size: 1.5rem;  
    }

    p, label {
        font-size: 1.5rem;
        text-align: justify;
        margin-left: 45px;
        margin-right: 45px;
    } 
    #headerStyle {

        padding: 10px;
    }

    .headerContents {
        min-height: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    #wrapper {

        margin-left: 120px;
        margin-right: 120px;
        min-height: 500px;
        padding: 15px;
        


    }
}

/* Resized content to fit up to 768px  */
@media screen and (max-width: 768px) {
    
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    h2 {
        font-size: 1.5rem;  
    }

    p, label {
        font-size: 1.2rem;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
    } 
    #headerStyle {

        padding: 10px;
    }

    .headerContents {
        min-height: 50px;
        padding: 15px;
        border-radius: 15px;
    }

    #wrapper {
        width: 90%;
        margin-left: 20px;
        min-height: 300px;
        padding: 5px;


    }
}
/* Resized content to fit up to 320px  */
@media screen and (max-width: 320px) {
    
    h1 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    h2 {
        font-size: 13px;  
    }

    p, label {
        font-size: 10px;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    input {
        font-size: 10px;
    }
    
    #headerStyle {
        width: 100%;
        padding: 10px;
    }

    .headerContents {
        min-height: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    #wrapper {
        width: 90%;
        margin-left: 20px;
        min-height: 300px;
        padding: 5px;
    }
}